# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Vite
.vite/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Coverage / cache
coverage/
.cache/

.tmps/
